* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
#root {
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.h-40 {
  height: 40%;
}
.h-20 {
  height: 40%;
  color: grey;
}
.h-15 {
  height: 35vh;
  
}
.h-10 {
  height: 30%;
  background-color: grey;
}
.h-5 {
  height: 20%;
  background-color: blanchedalmond;
}
.col-50 {
  width: 100%;
 
}
.col-33 {
  width: 100%;
  display: flex;
  justify-content: center;

}
.col-33 .testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col-25 {
  width: 50%;
  height: 50%;
  /* border: 1px solid black; */
}
.footer {
  background-color: #90d4c5;
  width: 100%;
  margin-top: 2rem;
}
.footer h4 {
  text-align: center;
  margin-top: 2rem;
}
.footer .menus {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.footer .menus p {
  margin-left: 6px;
  margin-top: 0.5rem;
 
}
.footer .icons {
  display: flex;
  justify-content: center;
  /* text-align: center; */
  margin-top: 0.5rem;
  gap: 20px;
  
}
.header {
  height: 60%;
  width: 100%;
  position: relative;
  color: white;
}
.header h1 {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 30%;
  font-size: 2rem;
  transform: translateX(-50%);
  color: white;
  
}
.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: end;
  list-style: none;
  gap: 20px;
  color: white;
}
.wrap-heading {
  margin: 1rem;
}
.navlinks li {
}
.heading h2 {
}
.wrapper {
  display: flex;
  justify-content: center;
}
.img-container {
  width: 100%;
}
.arrow {
  text-align: center;
  align-self: center;
  position: absolute;
  bottom: 30%;
  left: 50%;
}
.Squares {
  padding: 2.5rem;
}
.Squares h1 {
  margin-bottom: 1rem;
}
.Squares p {
  margin-bottom: 2rem;
}
.Squares a {
  font-weight: bold;
  font-size: 0.8rem;
}
.red {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 4px;
}
.yellow {
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 4px;
}
.Fruits {
  padding: 6rem;
}
.Fruits h1 {
  margin-top: 5rem;
  font-size: 16px;
  position: center;
}
.Fruits p{
  margin-top: 1rem;
}
.client-title {
  text-align: center;
  padding: 2rem;
}
.testimonials {
  padding: 0.5rem;

}
.profile-container {
  display: flex;
  justify-content: center;
  width: 15%;
}
.profile-container img{
  border-radius: 50%;
  text-align: center;
}
.testimonials h1 {
  margin-top: 1.5rem;
}
.testimonials p{
  margin: 0.5rem;
}
.names {
   font-weight: bold;
}